<!DOCTYPE HTML>
<html>
	  <head>
	  <title>Home Page</title>
	  
	  </head>
	  <body>
	        <div class="tabs">
	            <div class="tab-links">
                    <ul>
    	            	<li><a style="color:#125699" href="/plugs">Plugs</a></li>
        	    </ul>
		        </div>
            	</div>
	  		<h3>Triple Outlet</h3>
			<hr>
			<fieldset>
			<p>
    			<form action="/home/turnall" id="turnall" name="turnall" method="post">
        			<h4>Turn Plugs</h4>
        			<input required type="radio" name="turnall" value="on" >Turn All <strong>ON</strong>
        			<br>
        			<input required type="radio" name="turnall" value="off">Turn All <strong>OFF</strong>
        			<br><br>
        			<button type="submit" form="turnall">Done!</button>
    			</form>
			</p>
                        </fieldset>
			<hr>
                        <fieldset>
			<div class="status">
                    		<p>
                        		Plug A Status: {{ a }}
                    		</p>
                	</div>

			<div class="status">
                    		<p>
                        		Plug B Status: {{ b }}
                    		</p>
                	</div>

			<div class="status">
                    		<p>
                        		Plug C Status: {{ c }}
                    		</p>
                	</div>
                        </fieldset>

	  </body>
</html>
